@page
@model WebAR_Abstraction.Index

@{
    Layout = null;

    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>RugViewAR</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script defer src="dist/index.bundle.js"></script></head>
  
  <body>
    <!--<div class="landing-root"></div>--> 
  <!-- Container for XR DOM Overlay elements -->
    <div class = "ARView">
      <div id="xr-ui-container"></div>
      <div id="app-root"></div>
   </div> 
  </body>
</html>


