body {
  font-family: sans-serif;
  text-align: center;
}

/* Hide canvas by default, it is not needed outside immersive-ar */
canvas {
  width: 100%;
  height: 100%;
  display: none;
}

/* Override default AR button styles to make it look better on a white background */
#ARButton 
{
  border: 1px solid deepskyblue !important;
  color: whitesmoke !important;
  background: #0a819c;
}

.landing-root
{
  margin: 0;
  display: grid;
  grid-template-rows: 10vh 70vh 20vh;
  grid-template-columns: 100%;
  grid-row-gap: 0;
  height: 100vh;
  width: 100vw;
}

.header
{
  grid-row-start: 1;
  grid-row-end: 2;
  
  position: relative;
  background-color: #303841;
  color: #EEEEEE;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.image_body
{
  grid-row-start: 2;
  grid-row-end: 3;

  position: relative;
  background-color: #3A4750;
  color: #EEEEEE;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.default_button
{
  position: relative;
  grid-row-start: 1;
  grid-row-end: 2;
  
  height: 50px;
  width: 100px;
  background-color: #D72323;
  color: #EEEEEE;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  transition: 0.3s;
}

.default_button:hover
{
  background-color: #e13737;
}


